@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Paleta de colores de Nave */
:root {
    --color-primary-600: #2b2b2b;
    --color-primary-500: #000000;
    --color-primary-400: #360c72;
    --color-primary-300: #652bdf;
    --color-primary-200: #e4d7ff;
    --color-primary-100: #ffffff;

}

/* ESTILO BASE DEL DOCUMENTO */

body {
    background-color: var(--color-primary-100);
    overflow-y: auto;
    padding-bottom: 500px;

}

html,
body {
    min-height: 100%;
    
}


ul,
li {

    list-style: none;
}


/* CONTENEDOR CENTRAL LIMITA EL ANCHO DEL HEADER */
.content-container {
    max-width: 1500px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

/* HEADER (ENCABEZADO) ESTILOS */
.header {
    position: sticky;
    top: 0;
    background-color: var(--color-primary-100);
    display: flex;
    justify-content: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1000;
    
    
}


.logo-container {
    cursor: pointer;
    
    
}

.menu-icon {
    display: none;
    position: absolute;
    left: 24px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.logo-mobile {

    display: none;
    width: auto;
    max-width: 150px;
    max-height: 40px;
    height: 100%;
    
}

/* Lista de enlaces de navegación principal */
.nav-list {
    display: flex;
    border-radius: 100px;
    gap: 20px;
    font-size: 13px;

}

.nav-list a {
    text-decoration: none;
}

/* Línea vertical para separar la navegación de los botones */
.separator-line {
    width: 0;
    height: 24px;
    border-left: 1px solid rgb(190, 185, 185);
}


/* Elemento individual de la navegación */
.nav-item {
    color: var(--color-primary-500);
    border-radius: 9999px;
    padding: 10px 20px;
    font-weight: 750;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

}

.nav-item:hover {
    background-color: var(--color-primary-200);
    color: var(--color-primary-400);

}

/* Contenedor de los botones de acción (Espacio Nave y Entrar a Nave) */
.button-actions {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    padding-left: 24px;
    font-size: 14px;

}


.btn-primary {
    color: var(--color-primary-300);
    background-color: var(--color-primary-100);
    padding: 9px 24px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 700;

    border: 1px solid var(--color-primary-300);
    cursor: pointer;
    appearance: none;

}

.btn-primary:hover {
    color: var(--color-primary-400);
    background-color: var(--color-primary-200);
    transition-duration: 700ms;

}

.btn-secundary {
    color: var(--color-primary-100);
    background-color: var(--color-primary-300);
    padding: 9px 24px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 700;

    border: 1px solid var(--color-primary-300);
    cursor: pointer;
    appearance: none;

}

.btn-secundary:hover {
    background-color: var(--color-primary-200);
    color: var(--color-primary-400);
    transition-duration: 700ms;


}

/* Reseteo general para todos los botones */
button {
    border: none;
    background: none;
    font-family: inherit;
}

/* SECCIÓN BANNER PRINCIPAL */
.banner-nave {
    position: relative;
    width: 980px;
    height: 360px;
    margin: 30px auto;
    border-radius: 24px;
    overflow: hidden;
}

.banner-nave img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto superpuesto en el banner */
.banner-text {
    position: absolute;
    bottom: 56px;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 420px;
    color: #fff;
}

.banner-text h3 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 1.1;
    margin: 0;
}

.banner-text p {
    color: var(--color-primary-600);
    font-size: 18px;
    font-weight: 400;
    width: 400px;
    margin: 0;
    text-align: left;
}

/* Botón de texto dentro del banner (Ej. "Soy Galicia...") */
.btn-text {
    align-self: flex-start;
    color: var(--color-primary-100);
    background-color: var(--color-primary-300);
    padding: 12px 30px;
    border-radius: 999px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
}

.btn-text:hover {
    background-color: var(--color-primary-400);
    transition-duration: 700ms;
}

/* NAVEGACIÓN DEL CARRUSEL */
.carousel-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin-bottom: 0;


}

/* Estilos iniciales de las flechas (Botones) */
.arrow {
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    color: var(--color-primary-500);
    padding: 0px 30px;
}

.arrow:hover {
    color: var(--color-primary-500);
}

/* Contenedor de los puntos de navegación */
.dots-container {
    display: flex;
    gap: 20px;
}

/* Estilo base del punto (Inactivo - Gris) */
.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

/* Estilo del punto activo (Púrpura con doble borde/sombra) */
.dot.active {
    width: 14px;
    height: 14px;
    background-color: var(--color-primary-300);
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-primary-600);
    border: none;
}

/* SECCIÓN PRINCIPAL */
.section-container {
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    text-align: center;

}

/* Título principal de la sección */
.main-title {
    max-width: 980px;
    margin: 96px auto 0;
    font-size: 37px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: var(--color-primary-600);
    text-align: center;
}

/* Contenedor de las tarjetas */
.cards-box {
    color: var(--color-primary-600);
    width: 765px;
    margin: 40px auto 0;
    margin-top: 40px;
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 40px
}

/* Estilo de la tarjeta individual */
.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 24px;
    transition:
        transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.card h3 {
    font-size: 20px;
}

.card p {
    color: grey;
    width: 250px;
    margin: 10px auto 0;
    font-size: 16px;
    line-height: 25px;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.06);
}

/* Contenedor del ícono de la tarjeta */
.card-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 50px;
    height: 50px;
    background: #f0eafc;
    border-radius: 8px;
    box-sizing: border-box;
    
}

/* Estilo del ícono de Bootstrap dentro de la tarjeta */
.card .card-icon i.bi {
    color: var(--color-primary-300);
    font-size: 24px;
    display: block;
}

.card .card-icon i.bi:hover {
    color: var(--color-primary-400);
}

/* Estilo general del párrafo */
p {

    width: auto;
    margin: 20px auto 0;
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 20px
}

/* SECCIÓN 'HISTORIAS QUE VUELAN' (PILL STORIES) */

/* Contenedor de la de píldora grande) */
.pill-stories {
    background-color: var(--color-primary-400);
    color: var(--color-primary-100);
    border-radius: 24px;
    width: 980px;
    height: 120px;
    margin: 64px auto;
    padding: 28px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

.pill-stories {
    width: 980px;
    padding: 24px 40px;
    display: flex;
    align-items: center;
    gap: 32px;
}

/* Contenedor del texto dentro de la píldora */
.pill-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex: 1;
    gap: 12px;


}

.pill-text h3 {
    font-size: 25px;
    font-weight: 600;
}

.pill-text p {

    margin: 0;
    width: auto;
    display: block;
    justify-content: flex-start;
    text-align: left;
}

/* Botón de acción dentro de la píldora */
.btn-pill {
    color: var(--color-primary-300);
    background-color: var(--color-primary-100);
    padding: 12px 28px;
    border-radius: 999px;

    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

.btn-pill:hover {
    color: var(--color-primary-100);
    background-color: var(--color-primary-500);
    transition-duration: 700ms;
}

.section-metodo {
    max-width: 980px;
    height: auto;
    margin: 0 auto;
    text-align: center;

}

.main-title {
    max-width: 980px;
    margin: 96px auto 0;
    margin-top: 22px;
    font-size: 37px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: var(--color-primary-600);
    text-align: center;
}

.section-metodo p {
    color: grey;
    font-size: 15px;


}

.metodos-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.metodo-card {
    background: var(--color-primary-100);
    border-radius: 32px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.04);
}


.metodo-info h3 {
    font-size: 1.8rem;
    margin-bottom: 16px;
    font-weight: 700;
}

.metodo-info p {
    color: #444;
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 32px;
}

.metodo-img {
    display: flex;
    justify-content: center;
}

.metodo-img img {
    max-height: 300px;
    width: auto;
    transition: transform 0.4s ease;
}


.metodo-card:hover .metodo-img img {
    transform: scale(1.05);
}

.metodo-card.reverse-layout {
    flex-direction: row-reverse;
}

.btn-metodo {
    color: var(--color-primary-100);
    background-color: var(--color-primary-300);
    padding: 14px 26px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}

.btn-metodo:hover{

    background-color: var(--color-primary-400);
    transition-duration: 700ms;

}

.footer {
    background-color: var(--color-primary-100);
    padding: 60px 20px;
    border-top: 1px solid #e7eaed;
}

.footer-container {
    max-width: 1022px;
    margin: auto;
}

.footer-logo{
    margin: 8px;
}

.footer-lists {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;


}

.footer-list h4 {

    font-size: 15px;
    font-weight: 700px;
    margin-bottom: 16px;
    color: var(--color-primary-500);
}

.footer-list ul li {
    margin-bottom: 10px;
}

.footer-list a {
    font-size: 14px;
    color: var(--color-primary-600);
    transition: color .2s ease;
    text-decoration: none;

}

.footer-list a:hover {
    color: var(--color-primary-300);
    text-decoration: underline;
}


@media (max-width: 980px) {


    .menu-icon {
        display: flex;
    }

    .logo-mobile {
        display: flex;
        

    }

    .logo-container {
        display: none;

    }


    .nav-list,
    .separator-line {
        display: none;
        

    }

    .banner-text {
        display: none;
    }

    .button-actions {
        display: none;
    }
}

@media (max-width: 790px) {

    .banner-nave {
        width: auto;
        height: auto;
        margin-left: 16px;
        margin-right: 16px;
        
    }


    .banner-text h3 {
        font-size: 28px;
    }

    .banner-text p {
        width: 100%;
        font-size: 16px;
    }


    .main-title {
        font-size: 24px;
        margin-top: 40px;
        padding: 0 24px;
        text-align: left;

    }


    .cards-box {
        flex-direction: column;
        width: 100%;
        padding: 0 24px;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        
    }

    .card {
        width: 100%;
        text-align: left;
    }

    .card p {
        text-align: left;
        margin: 10px 0;
    }


    .pill-stories {
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 16px;
        margin-right: 16px;
        padding: 32px 24px;
        align-items: flex-start;
        gap: 24px;
    }

    .pill-text h3 {
        font-size: 20px;
    }

    .btn-pill {
        width: 100%;
        text-align: center;
    }

    .metodo-card, 
    .metodo-card.reverse-layout {
        display: grid ; 
        grid-template-columns: 1fr; 
        grid-template-areas: 
            "imagen"
            "texto"; 
        gap: 24px;
        padding: 32px 20px;
        text-align: center;
        align-items: center;
    }

    .metodo-img {
        grid-area: imagen; 
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .metodo-info {
        grid-area: texto; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .metodo-img img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }

    .section-metodo p {
        text-align: center;
    }

    .footer-lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 24px;
        justify-items: start;

    }

    .footer-lists ul {
    padding: 0;
}

.footer-container {
    min-width: 300px;
}

.footer-logo {
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    margin: 20px;
}



}

